/* --- Thème sombre --- */


/* ------------------- */


/* --- BACKGROUND --- */

.background {
    -fx-background-color: #25221e;
}

.background2 {
    -fx-background-color: #222222;
    -fx-font-size: 16px;
    -fx-font-family: "Calibri";
    -fx-text-fill: white;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}


/* ------------------ */


/* --- CONTOURS --- */

.gridpane {
    -fx-background-color: #222222;
    -fx-border-color: white;
}

.img-visu {
    -fx-border-color: white;
}


/* ------------------ */


/* --- BARRE MENU --- */

.barre-menu {
    -fx-background-color: #121212;
}

.img-fermer {
    -fx-image: url("../medias/fermer.png");
}

.separateur-menu {
    -fx-background-color: white;
}


/* --------------- */


/* --- CONTENU --- */

.titre-cat {
    -fx-font-size: 18px;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.lignes {
    -fx-stroke: white;
}

.lbl-bas {
    -fx-font-size: 24px;
    -fx-font-family: "Calibri";
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.lbl-desc {
    -fx-font-size: 12px;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.lbl-sous-desc {
    -fx-font-size: 12px;
    -fx-font-family: "System";
    -fx-text-fill: white;
}

.lbl-about-titres {
    -fx-font-size: 15px;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.lbl-about-contenu {
    -fx-font-size: 15px;
    -fx-font-family: "System";
    -fx-text-fill: white;
}

/* -------------- */