/* --- Thème sombre --- */


/* ------------------- */


/* --- BACKGROUND --- */

.background {
    -fx-background-color: #25221e;
}

.background2 {
    -fx-background-color: #222222;
    -fx-font-size: 16px;
    -fx-font-family: "Calibri";
    -fx-text-fill: white;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}


/* ------------------ */


/* --- CONTOURS --- */

.gridpane {
    -fx-background-color: #222222;
    -fx-border-color: white;
}

.img-visu {
    -fx-border-color: white;
}


/* ------------------ */


/* --- BARRE MENU --- */

.barre-menu {
    -fx-background-color: #121212;
}

.img-fermer {
    -fx-image: url("../medias/fermer.png");
}

.img-pearam {
    -fx-image: url("../medias/param.png");
}

.separateur-menu {
    -fx-background-color: white;
}


/* --------------- */


/* --- CONTENU --- */

.titre-cat {
    -fx-font-size: 18px;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.tv {
    -fx-border-color: white;
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header-background .filler {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #353535;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #222222;
}

.table-row-cell:selected {
    -fx-background-color: #0b74be;
}

.table-view>.virtual-flow>.scroll-bar:vertical,
.table-view>.virtual-flow>.scroll-bar:vertical>.track,
.table-view>.virtual-flow>.scroll-bar:vertical>.track-background,
.table-view>.virtual-flow>.scroll-bar:horizontal,
.table-view>.virtual-flow>.scroll-bar:horizontal>.track,
.table-view>.virtual-flow>.scroll-bar:horizontal>.track-background {
    -fx-background-color: transparent;
}

.lignes {
    -fx-stroke: white;
}

.lbl-bas {
    -fx-font-size: 24px;
    -fx-font-family: "Calibri";
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.lbl-desc {
    -fx-font-size: 12px;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.lbl-sous-desc {
    -fx-font-size: 12px;
    -fx-font-family: "System";
    -fx-text-fill: white;
}

.lbl-about-titres {
    -fx-font-size: 15px;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.lbl-about-contenu {
    -fx-font-size: 15px;
    -fx-font-family: "System";
    -fx-text-fill: white;
}


/* -------------- */


/* --- IMAGES --- */

.img-cli {
    -fx-image: url("../medias/white/client.png");
}

.img-pro {
    -fx-image: url("../medias/white/pullover.png");
}

.img-com {
    -fx-image: url("../medias/white/order.png");
}

.img-cat {
    -fx-image: url("../medias/white/cat.png");
}

.img-menu {
    -fx-image: url("../medias/white/maison.png");
}


/* ------------------- */


/* --- BOUTONS --- */

.btn-ok {
    -fx-font-size: 12px;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-text-fill: #00a113;
}

.btn-annuler {
    -fx-font-size: 12px;
    -fx-font-family: "System";
    -fx-text-fill: #e40000;
}

.btn-import {
    -fx-font-size: 15px;
    -fx-font-family: "Calibri";
    -fx-text-fill: black;
}

.radio-button {
    -fx-text-fill: white;
    -fx-font-size: 20px
}


}
.radio-button .radio:not selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button:selected .dot {
    -fx-padding: 7px;
    -fx-background-color: #221e25;
}
.tab-header-background {
    -fx-background-color: #222222;
}